/* THEME: BROWNIE */

@charset "utf-8";

input[type=text] {
	border-color: #696969;
}

input[type=text]:focus {
	outline: none !important;
	border-color: #c77844 !important;
	box-shadow: 0 0 10px #8f4517 !important;
}

textarea {
	border-color: #696969 !important;
}

textarea:focus {
	outline: none !important;
	border-color: #c77844 !important;
	box-shadow: 0 0 10px #8f4517 !important;
}

/* CSS BOOTSTRAP */
.glyphicon {
	color: #696969;
}

.glyphicon-remove {
	color: #FFFFFF !important;
}

.btn {
	margin-bottom: 20px;
}

.btn-default {
	color: #696969;
	background-color: #CDCDCD;
	border-color: #696969;
	font-weight: bold;
}

.btn-default:hover {
	color: #696969;
	border-color: #696969;
	font-weight: bold;
}

.container {
	padding-bottom: 50px;
	padding-top: 80px;
}

.control-label {
	padding-right: 0;
	font-weight: normal;
}

.dropdown-menu {
	text-shadow: none;
}

ul.dropdown-menu li.theme-selected:nth-child(5) a {
	font-weight: bold;
}

.drop-glyph {
	color: #FFFFFF;
}

.form-group {
	margin-bottom: 0;
}

.mark-note {
	background-color: #c77844;
}

.mark-warn {
	background-color: #1e5069;
}

.mark-task {
	background-color: #8f4517;
}

/* CSS CLASS */
.comment-remove {
	color: #FFFFFF !important;
}

.dd-select {
	font: normal 16px 'Trebuchet MS';
}

.inline {
	display: inline-block;
}

.form-group {
	padding: 10px;
}

.form-elem {
	width: 200px;
}

.add {
	color: #FFFFFF;
}

/* CSS ID */
#banner {
	background-image: linear-gradient(bottom, #c77844 50%, #8f4517 50%);
	background-image: -o-linear-gradient(bottom, #c77844 50%, #8f4517 50%);
	background-image: -moz-linear-gradient(bottom, #c77844 50%, #8f4517 50%);
	background-image: -webkit-linear-gradient(bottom, #c77844 50%, #8f4517 50%);
	background-image: -ms-linear-gradient(bottom, #c77844 50%, #8f4517 50%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.5, #c77844),
		color-stop(0.5, #8f4517));
}

#deletebtn {
	font-size: 1.5em;
	border: none;
	background-color: transparent;
}

/* DATEPICKER */
#ui-datepicker-div {
	font-size: 12px;
}