@CHARSET "ISO-8859-1";

pre {
	border: 0;
	border-radius: 3px;
	color: #FFFFFF;
	font: normal 13px Verdana;
	margin: 5px -3px 0px -3px;
	padding: 6px 10px 6px 10px;
	background-color: rgba(0, 0, 0, 0.2);
	line-height: 22px;
}

#commentInput {
	
}

#commentInput:focus {
	box-shadow: none !important;
	outline: none !important;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
	text-transform: none !important;
	font-style: italic;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	text-transform: none !important;
	font-style: italic;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
	text-transform: none !important;
	font-style: italic;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
	text-transform: none !important;
	font-style: italic;
}