@CHARSET "UTF-8";


/* CSS HTML tags */
body {
	background-color: #FFFFFF;
	color: #696969;
	font-size: 16px;
	overflow-y: scroll;
	/* Text selection disabled */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

input[type="checkbox"] {
	margin-left: 15px;
}

/* CSS Classes */
.character-counter {
	color: #696969;
	float: right;
	font-size: 12px;
	margin: 3px 3px 0 0;
}

.comment-counter {
	display: inline-block;
	float: right;
	font: normal 10px Verdana;
	margin-right: 15px;
	position: relative;
}

.creator-stamp {
	float: left;
	font: normal 10px Verdana;
	margin-left: 15px;
}

.groupid {
	padding: 0;
	position: absolute;
	top: 5px;
	right: 35px;
}

.label-color {
	color: #696969;
}

.label-color-edit {
	color: #FF0000;
}

.month-label {
	display: block;
	letter-spacing: 1px;
	margin: 0 0 -9px 0;
	overflow: hidden;
	padding: 0;
	position: relative;
	text-transform: capitalize;
	top: -5px;
	white-space: nowrap;
	width: 100%;
}

.month-label-hr {
	display: inline-block;
	border-color: #808080;
	vertical-align: middle;
	white-space: nowrap;
	width: 100%;
}

.nav-tabs>li>a {
	color: #8c8c8c;
}

.nav-tabs>li>a:hover {
	color: #8c8c8c;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover
	{
	color: #696969;
}

.task {
	margin: 0;
	position: relative;
	display: block;
	border-style: solid;
	border-color: #babdb6;
	border-width: 1px;
	border-radius: 4px;
	padding: 20px;
}

.task:last-child {
	margin-bottom: 50px;
}

.task-footer {
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 12px 0 5px 0;
	bottom: 0;
	font: normal 10px Verdana;
	height: 20px;
	padding: 3px 0 0 16px;
	position: absolute;
	right: 0;
	vertical-align: middle;
	width: auto;
}

.task-text-content {
	border: 0px dashed #FFFFFF;
	display: block;
	margin-right: 0px;
	position: relative;
}

.task-option-dropdown {
	cursor: pointer;
	display: block;
	position: absolute;
	right: 2px;
	top: 0;
	border: none;
}

.well {
	border: 0;
	border-radius: 5px;
	color: #FFFFFF;
	font: normal 16px 'Trebuchet MS';
	line-height: 22px;
	margin-bottom: 3px;
	padding: 17px 20px 17px 20px;
	text-decoration: none;
	word-wrap: break-word;
}

/* CSS IDs */
#banner {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 80px;
	overflow: hidden;
	box-shadow: 0 0 20px #696969;
}

#comment-area { /* input field */
	border: 0;
	border-radius: 0;
	color: #FFFFFF;
	font: normal 13px Verdana;
	margin: 5px 0 0 0;
	padding: 0;
	line-height: 20px;
	min-height: 0px;
	width: 100%;
}

#comment:focus {
	box-shadow: none !important;
	outline: none !important;
}

#comment-table {
	border-collapse: collapse;
	border-spacing: 0;
	margin: 0;
	padding: 0;
	table-layout: fixed;
	width: 100%;
}

#comment-table tr {
	width: 100%;
}

#comment-table tr:nth-child(odd) {
	background-color: rgba(0, 0, 0, 0.2);
}

#comment-table tr td:first-child {
	width: auto;
	text-align: left;
	padding: 5px 10px 5px 10px;
}

#comment-table tr td:last-child {
	width: 200px;
	white-sapce: nowrap;
	overflow: hidden;
	text-align: right;
	padding: 5px 10px 5px 10px;
}

#commentSubmit {
	background-color: #d9d9d9;
	border: 0;
	box-shadow: none;
	color: #000000;
	font: normal 12px Verdana;
	height: 25px;
	margin: 0 0 0 -4px;
	width: 130px;
}

#grind-logo {
	display: block;
	position: relative;
	top: -62px;
	left: 30px;
	width: 200px;
}

#loginylaosa {
	padding-top: 100px;
}

#rekisteroitymisnappi {
	padding-bottom: 15px;	
}

#logged {
	display: block;
	color: #FFFFFF;
	font-size: 13px;
	font-weight: bold;
	position: absolute;
	top: 0;
	right: 0;
	width: auto;
	height: 80px;
	line-height: 40px;
	vertical-align: middle;
	white-space: nowrap;
	padding-right: 20px;
}

#logged a {
	color: #FFFFFF;
}

#logged a:hover {
	text-decoration: none;
	padding-bottom: 0px;
	border-bottom: 1px solid #FFFFFF;
}

#logged-mobile {
	display: none;
	color: #FFFFFF;
	font-size: 13px;
	font-weight: bold;
	position: absolute;
	top: 0;
	right: 0;
	width: auto;
	height: 80px;
	line-height: 40px;
	vertical-align: middle;
	white-space: nowrap;
	padding-right: 20px;
}

#logged-mobile a {
	color: #FFFFFF;
}

#logged-mobile a:hover {
	text-decoration: none;
	padding-bottom: 0px;
	border-bottom: 1px solid #FFFFFF;
}

/* CSS Pseudo-Elements */
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
	text-transform: none !important;
	font-style: italic;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	text-transform: none !important;
	font-style: italic;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
	text-transform: none !important;
	font-style: italic;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
	text-transform: none !important;
	font-style: italic;
}

/* CSS @media-elements */
@media ( max-width : 767px) {
	#comment {
		margin: 5px 0 5px 0 !important;
		padding: 0 3px 0 3px !important;
	}
	#comment-table tr {
		width: 100% !important;
	}
	#comment-table tr td:first-child {
		border: 0px solid #000000;
		width: 100% !important;
		white-space: initial !important;
	}
	#comment-table tr td:last-child {
		border: 0px solid #000000;
		width: 0% !important;
	}
	#commentSubmit {
		position: relative !important;
		display: block !important;
		margin: 0 !important;
	}
	#logged {
		display: block !important;
	}
	#logged-mobile {
		display: none !important;
	}
	#timepicker {
		margin-top: 20px !important;
	}
	.comment-remove {
		display: none;
	}
	.comment-remove-td {
		width: 0px !important;
	}
	.container, body {
		padding: 20px 0 0 0 !important;
		margin: 20px 0 0 0 !important;
	}
	.creator-stamp {
		display: none !important;
	}
	.groupid {
		display: block !important;
		position: relative !important;
		top: initial !important;
		right: initial !important;
	}
	.month-label {
		padding-left: 10px !important;
	}
	.navbar-header {
		margin: 0px !important;
	}
	.task-footer {
		border-radius: 0 0 5px 5px !important;
		left: 0 !important;
	}
	.well {
		border-radius: 0 !important;
		padding-bottom: 25px;
	}
}

@media ( max-width : 400px) {
	#logged {
		display: none !important;
	}
	#logged-mobile {
		display: block !important;
	}
}
}