@charset "utf-8";

body {
	margin: 0;
	padding: 0;
}

#container {
	background-color: transparent;
	border: 0px dashed #000000;
	display: block;
	height: auto;
	left: 30px;
	padding: 20px;
	position: absolute;
	right: 30px;
	top: 0;
}

#add {
	background-color: inherit;
	border: 0px dashed #000000;
	color: #696969;
	cursor: pointer;
	display: block;
	position: relative;
	font-size: 16px;
	font-weight: normal;
	overflow: hidden;
	padding: 0 20px 20px 0;
}

.dd-select {
	font: normal 16px 'Trebuchet MS';
}

.inline {
	display: inline-block;
}

.form-group {
	padding: 10px;
}

.muistutus {
	color: #696969;
	font-size: 14px;
}

.task {
	background-color: #DCDCDC;
	margin: 0;
	position: relative;
	display: block;
	border-style: solid;
	border-color: #babdb6;
	border-width: 1px;
	border-radius: 4px;
	padding: 20px;
}

.task:last-child {
	margin-bottom: 0;
}

.delete {
	cursor: pointer;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	border: none;
}



#addtaskform {
	padding: 0;
}

#deletebtn {
	font-size: 1.5em;
	border: none;
	background-color: transparent;
}