@charset "utf-8";

.character-counter {
	float: right;
	font-size: 12px;
	color: #696969;
	margin-bottom: -10px;
}

body {
	background-color: #FFFFFF;
	color: #000000;
	font-size: 16px;
	overflow-y: scroll;
}

/* BOOTSTRAP OVERWRITE */
.glyphicon {
	color: #696969;
}

.btn {
	margin-bottom: 20px;
}

.btn-default {
	background-color: #F1F1F1;
}

.container {
	padding-bottom: 50px;
}

.control-label {
	font-weight: normal;
	padding-right: 0;
}

.dropdown-menu {
	text-shadow: none;
}

.form-group {
	margin-bottom: 0;
}

.modal-footer {
	padding-bottom: 0;
	margin-bottom: -5px;
}

.modal-body {
	padding-bottom: 5px;
}

.modal-header {
	margin: 0;
	padding: 15px;
}

.well {
	margin-bottom: 3px;
	border: 0;
}

.mark-note, .mark-task {
	border: 1px solid #7089b3;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font: normal 16px 'Trebuchet MS';
	padding: 10px 15px 11px 15px;
	text-decoration: none;
	display: inline-block;
	color: #FFFFFF;
	background-color: #3093C7;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#a5b8da), to(#536f9d));
	background-image: -webkit-linear-gradient(top, #a5b8da, #536f9d);
	background-image: -moz-linear-gradient(top, #a5b8da, #536f9d);
	background-image: -ms-linear-gradient(top, #a5b8da, #536f9d);
	background-image: -o-linear-gradient(top, #a5b8da, #536f9d);
	background-image: linear-gradient(to bottom, #a5b8da, #536f9d);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#a5b8da, endColorstr=#536f9d);
}

.mark-warn {
	border: 1px solid #af6403;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font: normal 16px 'Trebuchet MS';
	padding: 10px 15px 11px 15px;
	text-decoration: none;
	text-shadow: 0 0 3px #e78404;
	display: inline-block;
	color: #FFFFFF;
	background-color: #3093C7;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#e78404), to(#e78404));
	background-image: -webkit-linear-gradient(top, #e78404, #e78404);
	background-image: -moz-linear-gradient(top, #e78404, #e78404);
	background-image: -ms-linear-gradient(top, #e78404, #e78404);
	background-image: -o-linear-gradient(top, #e78404, #e78404);
	background-image: linear-gradient(to bottom, #e78404, #e78404);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#e78404, endColorstr=#e78404);
}

/* END OF BOOTSTRAP OVERWRITE */
.dd-select {
	font: normal 16px 'Trebuchet MS';
}

.inline {
	display: inline-block;
}

.form-group {
	padding: 10px;
}

.form-elem {
	width: 200px;
}

.muistutus {
	color: #696969;
	font-size: 14px;
}

.add {
	color: #FFFFFF;
}

.task {
	background-color: #DCDCDC;
	margin: 0;
	position: relative;
	display: block;
	border-style: solid;
	border-color: #babdb6;
	border-width: 1px;
	border-radius: 4px;
	overflow: visible;
	padding: 20px;
}

.task:last-child {
	margin-bottom: 0;
}

.task-options {
	cursor: pointer;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	border: none;
}

#deletebtn {
	font-size: 1.5em;
	border: none;
	background-color: transparent;
}

/* datepicker css overwrite */
#ui-datepicker-div {
	font-size: 12px;
}