/* Graypaper */

@charset "utf-8";

#grind-header{
	display: block;
	color: #FFFFFF;
	text-shadow: 2px 2px #696969;
}

#grind-logo-iso {
	display: none;
}

#banner {
	background-image: url('');
	background-repeat: no-repeat;
	background-position: right top;
	background-size: auto;
	background-color: #CDCDCD; /* rgb(0, 50, 51) */
	box-shadow: 0 0 15px #000000;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 80px;
	background-size: auto 80px;
	position: fixed;
	overflow: hidden;
}

.character-counter {
	float: right;
	font-size: 12px;
	color: #696969;
	margin-bottom: -10px;
}

.label-color {
	color: #696969;
}

.label-color-edit {
	color: #FF0000;
}

.tiedot {
	cursor: pointer;
}

.groupid {
	float: right;
	padding-right: 25px;
}

body {
	background-color: #FFFFFF;
	color: #696969;
	font-size: 16px;
	overflow-y: scroll;
	/* Text selection disabled */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: #FFFFFF;
}

input[type=text] {
	border-color: #a5b8da;
}

input[type=text]:focus {
	outline: none !important;
	border-color: #a5b8da !important;
}

textarea {
	border-color: #a5b8da !important;
}

textarea:focus {
	outline: none !important;
	border-color: #a5b8da !important;
}

/* BOOTSTRAP OVERWRITE */
.glyphicon {
	color: #696969;
}

.btn {
	margin-bottom: 20px;
}

.btn-default {
	color: #696969;
	background-color: #CDCDCD;
	border-color: #696969;
	font-weight: bold;
}

.btn-default:hover {
	color: #696969;
	border-color: #696969;
	font-weight: bold;
}

.container {
	padding-bottom: 50px;
	padding-top: 80px;
}

.control-label {
	padding-right: 0;
	font-weight: normal;
}

.dropdown-menu {
	text-shadow: none;
}

.drop-glyph {
	color: #696969;
}

.form-group {
	margin-bottom: 0;
}

.well {
	margin-bottom: 5px;
	border: 0;
}

.mark-note {
	border: 0px solid #CDCDCD;
	box-shadow: 0 0 5px #696969;
	background-image: url('../img/paper-white.jpg');
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font: normal 16px 'Trebuchet MS';
	padding: 10px 15px 11px 15px;
	text-decoration: none;
	color: #000000;
}

.mark-warn {
	border: 0px solid #CDCDCD;
	box-shadow: 0 0 5px #696969;
	background-image: url('../img/paper-yellow.jpg');
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font: normal 16px 'Trebuchet MS';
	padding: 10px 15px 11px 15px;
	text-decoration: none;
	color: #000000;
}

.mark-task {
	border: 0px solid #CDCDCD;
	box-shadow: 0 0 5px #696969;
	background-image: url('../img/paper-white.jpg');
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font: normal 16px 'Trebuchet MS';
	padding: 10px 15px 11px 15px;
	text-decoration: none;
	color: #000000;
}

/* END OF BOOTSTRAP OVERWRITE */
.dd-select {
	font: normal 16px 'Trebuchet MS';
}

.inline {
	display: inline-block;
}

.form-group {
	padding: 10px;
}

.form-elem {
	width: 200px;
}

.muistutus {
	color: #000000;
	font-size: 14px;
}

.add {
	color: #FFFFFF;
}

.task {
	background-color: #DCDCDC;
	margin: 0;
	position: relative;
	display: block;
	border-style: solid;
	border-color: #babdb6;
	border-width: 1px;
	border-radius: 4px;
	overflow: visible;
	padding: 20px;
}

.task:last-child {
	margin-bottom: 0;
}

.task-options {
	cursor: pointer;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	border: none;
}

#deletebtn {
	font-size: 1.5em;
	border: none;
	background-color: transparent;
}

/* datepicker css overwrite */
#ui-datepicker-div {
	font-size: 12px;
}