/* Skyline */
@charset "utf-8";

#grind-logo-blue-orange {
	display: block;
	position: absolute;
	top: -61px;
	left: 30px;
	width: 200px;
}

#banner {
	background-image: linear-gradient(bottom, #2a5569 50%, #607d91 50%);
	background-image: -o-linear-gradient(bottom, #2a5569 50%, #607d91 50%);
	background-image: -moz-linear-gradient(bottom, #2a5569 50%, #607d91 50%);
	background-image: -webkit-linear-gradient(bottom, #2a5569 50%, #607d91 50%);
	background-image: -ms-linear-gradient(bottom, #2a5569 50%, #607d91 50%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.5, #2a5569),
		color-stop(0.5, #607d91));
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 80px;
	overflow: hidden;
	box-shadow: 0 0 20px #000000;
}

.character-counter {
	float: right;
	font-size: 12px;
	color: #696969;
	margin-bottom: -10px;
}

.label-color {
	color: #696969;
}

.label-color-edit {
	color: #FF0000;
}

.tiedot {
	cursor: pointer;
}

.groupid {
	float: right;
	padding-right: 25px;
}

body {
	background-color: #FFFFFF;
	/*
	background-image: url('../img/skyline-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
*/
	color: #696969;
	font-size: 16px;
	overflow-y: scroll;
	/* Text selection disabled */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: #FFFFFF;
}

input[type=text] {
	border-color: #a5b8da;
}

input[type=text]:focus {
	outline: none !important;
	border-color: #a5b8da !important;
}

textarea {
	border-color: #a5b8da !important;
}

textarea:focus {
	outline: none !important;
	border-color: #a5b8da !important;
}

/* BOOTSTRAP OVERWRITE */
.glyphicon {
	color: #696969;
}

.btn {
	margin-bottom: 20px;
}

.btn-default {
	color: #696969;
	background-color: #CDCDCD;
	border-color: #696969;
	font-weight: bold;
}

.btn-default:hover {
	color: #696969;
	border-color: #696969;
	font-weight: bold;
}

.container {
	padding-bottom: 50px;
	padding-top: 80px;
}

.control-label {
	padding-right: 0;
	font-weight: normal;
}

.dropdown-menu {
	text-shadow: none;
}

ul.dropdown-menu li.theme-selected:nth-child(2) a {
	font-weight: bold;
}

.drop-glyph {
	color: #FFFFFF;
}

.form-group {
	margin-bottom: 0;
}

.well {
	margin-bottom: 1px;
	border: 0;
}

.mark-note {
	border: 1px solid #7d99ca;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 3px;
	font: normal 16px 'Trebuchet MS';
	padding: 10px 15px 11px 15px;
	text-decoration: none;
	color: #FFFFFF;
	background-color: #a5b8da;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#a5b8da),
		to(#7089b3));
	background-image: -webkit-linear-gradient(top, #a5b8da, #7089b3);
	background-image: -moz-linear-gradient(top, #a5b8da, #7089b3);
	background-image: -ms-linear-gradient(top, #a5b8da, #7089b3);
	background-image: -o-linear-gradient(top, #a5b8da, #7089b3);
	background-image: linear-gradient(to bottom, #a5b8da, #7089b3);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,
		startColorstr=#a5b8da, endColorstr=#7089b3);
}

.mark-warn {
	border: 1px solid #e4a567;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 3px;
	font: normal 16px 'Trebuchet MS';
	padding: 10px 15px 11px 15px;
	text-decoration: none;
	color: #FFFFFF;
	background-color: #ecbf93;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#e8b27d),
		to(#dc8c3c));
	background-image: -webkit-linear-gradient(top, #ecbf93, #dc8c3c);
	background-image: -moz-linear-gradient(top, #ecbf93, #dc8c3c);
	background-image: -ms-linear-gradient(top, #ecbf93, #dc8c3c);
	background-image: -o-linear-gradient(top, #ecbf93, #dc8c3c);
	background-image: linear-gradient(to bottom, #ecbf93, #dc8c3c);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,
		startColorstr=#ecbf93, endColorstr=#dc8c3c);
}

.mark-task {
	border: 1px solid #7d99ca;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 3px;
	font: normal 16px 'Trebuchet MS';
	padding: 10px 15px 11px 15px;
	text-decoration: none;
	color: #FFFFFF;
	background-color: #a5b8da;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#a5b8da),
		to(#7089b3));
	background-image: -webkit-linear-gradient(top, #a5b8da, #7089b3);
	background-image: -moz-linear-gradient(top, #a5b8da, #7089b3);
	background-image: -ms-linear-gradient(top, #a5b8da, #7089b3);
	background-image: -o-linear-gradient(top, #a5b8da, #7089b3);
	background-image: linear-gradient(to bottom, #a5b8da, #7089b3);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,
		startColorstr=#a5b8da, endColorstr=#7089b3);
}

/* END OF BOOTSTRAP OVERWRITE */
.dd-select {
	font: normal 16px 'Trebuchet MS';
}

.inline {
	display: inline-block;
}

.form-group {
	padding: 10px;
}

.form-elem {
	width: 200px;
}

.muistutus {
	color: #000000;
	font-size: 14px;
}

.add {
	color: #FFFFFF;
}

.task {
	background-color: #DCDCDC;
	margin: 0;
	position: relative;
	display: block;
	border-style: solid;
	border-color: #babdb6;
	border-width: 1px;
	border-radius: 4px;
	overflow: visible;
	padding: 20px;
}

.task:last-child {
	margin-bottom: 0;
}

.task-options {
	cursor: pointer;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	border: none;
}

#deletebtn {
	font-size: 1.5em;
	border: none;
	background-color: transparent;
}

/* datepicker css overwrite */
#ui-datepicker-div {
	font-size: 12px;
}